.button {
    margin: 1rem 0 1rem 0;
    display: block;
    width: 100%;
    font-size: $font-size-lg;
    background: $navy;
    border: none;
    padding: $xs-size $m-size;
    color: white;
    text-shadow: 1px 0.6px 3px $almost-black;
    border-radius: 3rem;
    &:hover {
        background: darken($navy, 5%);
    }
    &:focus {
        outline: none;
        background: darken($navy, 10%);
    }
}

.button_modal {
    @extend .button;
    width: auto;
    margin: 0;
}
