header {
  background-color: $lightest-gray;
}

.container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 145rem;
}

.nav {
  padding: $s-size;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem 0 0;
  @media (min-width: $mobile-breakpoint) {
    padding: $m-size;
  }
}

.nav-items a {
  text-align: center;
  text-decoration: none;
  font-size: $font-size-md;
  color: $dark-gray;
  margin-left: 2.5rem;
  &:hover {
    color: $light-gray;
  }
}

.nav-title {
  color: $gray-blue;
  font-weight: 600;
  font-size: 3rem;
  padding: 0;
  text-shadow: 1.5px 1.5px 2px $darkest-gray;
  @media (min-width: $mobile-breakpoint) {
    font-size: $font-size-xl;
    margin: 0 0 0 $m-size;
  }
}
