header {
  background-color: $off-white;
  box-shadow: 0 -1px 4px 0px #000;
}

.container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 145rem;
}

.nav {
  padding: $s-size;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0;
  @media (min-width: $mobile-breakpoint) {
    padding: 0 3rem 0 0;
    align-items: center;
    flex-direction: row;
  }
}

.nav-items a {
  text-align: center;
  text-decoration: none;
  font-size: $font-size-md;
  color: $gray;
  margin-left: 2.5rem;
  &:hover {
    color: $light-gray;
  }
}

.nav-title {
  font-family: 'Asap', Arial, sans-serif;
  color: #62768a;
  font-weight: 500;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  @media (min-width: $tab-breakpoint) {
    font-size: 4rem;
  }
  @media (min-width: $desktop-breakpoint) {
    font-size: 5rem;
    margin: 0 0 0 $m-size;
  }
}
