.box {
    margin-top: $s-size;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    height: 50rem;
    @media (min-width: $desktop-breakpoint) {
        justify-content: space-evenly;
        flex-direction: row;
        margin: 10vh 3rem 3rem;
    }
}

.tagline {
    width: 80%;
    @media (min-width: $tab-sm-breakpoint) {
        width: 55rem;
    }
}

.tagline-text {
    color: $darkest-gray;
    font-size: $font-size-xl;
    margin-bottom: 1rem;
    @media (min-width: $tab-sm-breakpoint) {
        font-size: 4rem;
    }
    @media (min-width: $desktop-breakpoint) {
        font-size: 5rem;
    }
}

.tagline-text_subtitle {
    font-size: $font-size-md;
    margin-bottom: 1rem;
}
