.tagline {
    width: 80%;
    @media (min-width: $tab-sm-breakpoint) {
        width: 50rem;
    }
}

.tagline-text {
    color: $almost-black;
    font-size: $font-size-xl;
    margin-bottom: $xs-size;
    line-height: 1.2;
    text-shadow: 2px 2px 1px lighten($gray, 15%);
    @media (min-width: $tab-sm-breakpoint) {
        font-size: 4rem;
    }
    @media (min-width: $desktop-breakpoint) {
        font-size: 4.8rem;
    }
}

.tagline-text_subtitle {
    font-size: $font-size-md;
    color: $dark-gray;
    margin-top: 0;
    text-shadow: 1px 1px 2px white;
}
