.weather-form input {
    width: 100%;
    text-align: center;
    padding: $s-size;
    font-size: $font-size-lg;
    border-radius: $xs-size;
    border: 1px solid $light-gray;
    color: $almost-black;
    box-shadow: 0.5px 0.5px 1.5px $gray;
    &:focus {
        outline: none;
        border: 1.4px solid $dark-gray;
        background: $almost-white;
    }
}

.weather-form_container {
    width: 86%;
    margin: 2rem $m-size 5rem 2rem;
    border-radius: 2rem;
    background: white;
    padding: 1rem 3rem 3rem;
    box-shadow: 1px 1px 2px $gray;
    @media (min-width: $tab-sm-breakpoint) {
        width: 32rem;
    }
    @media (min-width: $desktop-breakpoint) {
        margin-top: 4rem;
    }
}

.weather-form_title {
    font-weight: 400;
    font-size: $font-size-lg;
    color: $dark-gray;
    @media (min-width: $mobile-breakpoint) {
        font-size: 2.2rem;
    }
}
