@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // allows us to use base 10 in rems (ex: 2.2rems = 22px)
}

body {
    color: $dark-gray;
    font-family: 'Rubik', sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    margin: 0;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
